<!DOCTYPE html>
<html>
<head>
	<title>地图测试</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{%static 'css/game_test.css'%}">
	<script type="text/javascript" src="http://cdn.repository.webfont.com/wwwroot/js/wf/youziku.api.min.js"></script>
	<script type="text/javascript">
	   //动态字库api
	   $webfont.load("head_text,pre-load-text,wait_info,button,player,#rounds", "e316d772ba7d483780f759e6b4364146", "hdjxyt");
	   $webfont.draw();
	</script>
	<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>

	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="{% static 'js/react_game_test.js' %}"></script>
	<script src="{% static 'js/react_message.js' %}"></script>
	<script src="{% static 'js/model_Graphic.js' %}"></script>
	<script src="{% static 'js/model_Map.js' %}"></script>	
</head>
<body>
	<span id="load_game" style="cursor:pointer;display: inline;z-index:100;">生成随机地图</span>
	<span >随机数种：<span id="seed_id"></span><span id="debuging"> debug</span></span>
	<div></div>
	<!--地图模块-->
	<map ondragstart="return false;" onselectstart="return false;" unselectable="on">
		<!--六边形层-->
		<div id="places">
		</div>
		<!--边层-->
		<div id="edges">
		</div>
		<!--海港层-->
		<div id="harbors">
		</div>
		<!--点层-->
		<div id="points">
		</div>
		<!--城市层-->
		<div id="cities">
		</div>
		<!--道路层-->
		<div id="roads">
		</div>
		<!--强盗-->
		<robber></robber>
	</map>
	<!--非地图UI模块-->
	<!--等待界面-->
	<wait_window style="display:none;">
		<wait_info_back><wait_info>等待消息中···</wait_info></wait_info_back>	
	</wait_window>
	<!--确认窗口-->
	<confirm_window>
		<confirm_back></confirm_back>
		<confirm_content>
			<confirm_title></confirm_title>
			<alert_text></alert_text>
			<confirm_action>
				<button class="btn-success" id="confirm_action">确认</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn-danger" id="cancel_action">取消</button>
			</confirm_action>
		</confirm_content>
	</confirm_window>
	<!--资源栏(暂定为静态资源,而非动态加载)-->
	<source_list>
		<img src="/media/img/icon_1.png" width="25px"><span class="src_brick">0</span>
		<img src="/media/img/icon_2.png" width="25px"><span class="src_wood">0</span>
		<img src="/media/img/icon_3.png" width="25px"><span class="src_wool">0</span>
		<img src="/media/img/icon_4.png" width="25px"><span class="src_grain">0</span>
		<img src="/media/img/icon_5.png" width="25px"><span class="src_ore">0</span>
	</source_list>
	<!--骰子-->
	<dice dice_id="0" style="left:10px;"><span id="debug_show_selectors" on="off">打开选择器</span><span id="debug_show_ids" on="off">显示元素id</span></dice>
	<dice dice_id="1" style="left:63px;"><div id="plc_info"></div></dice>
	<!--0级菜单：投掷、建设、交易、发展-->
	<actions0>		
		<div class="fst_action list-group">
			<button type="button" id="action_dice" class="list-group-item">投掷</button>
		</div>
		<br>
		<div class="list-group">
		<button type="button" id="action_contribute" class="list-group-item">建设</button>
		<button type="button" id="action_trade" class="list-group-item">交易</button>
		<button type="button" id="action_develop" class="list-group-item">发展</button>
	  	</div>
	  	<br>
	  	<div class="list-group">
	  		<button type="button" id="action_end_turn" class="list-group-item-success">结束回合</button>
	  	</div>
	  	<!--1级菜单-->
	  	<actions1 class="list-group">
	  		<button type="button" id="action_build_road" class="list-group-item">建设道路<cost class="brick">1</cost><cost class="wood">1</cost></button>
	  		<button type="button" id="action_build_city0" class="list-group-item">建立定居点<cost class="brick">1</cost><cost class="wood">1</cost><cost class="wool">1</cost><cost class="grain">1</cost></button>
	  		<button type="button" id="action_build_city1" class="list-group-item">建设新城市<cost class="grain">2</cost><cost class="ore">3</cost></button>
	  		<button type="button" id="action_buy_dev_card" class="list-group-item">抽取发展卡<cost class="wool">1</cost><cost class="grain">1</cost><cost class="ore">1</cost></button>
	  		<button type="button" id="action_use_dev_soldier" class="list-group-item">士兵<span class="dev_num"></span></button>
	  		<button type="button" id="action_use_dev_plenty" class="list-group-item">丰收之年<span class="dev_num"></span></button>
	  		<button type="button" id="action_use_dev_monopoly" class="list-group-item">垄断<span class="dev_num"></span></button>
	  		<button type="button" id="action_use_dev_road_making" class="list-group-item">道路建设<span class="dev_num"></span></button>
	  		<button type="button" id="action_show_score_cards" class="list-group-item">展示分数卡</button>
	  	</actions1>
	  	<!--特殊选项-->
	  	<special_actions class="list-group">
			<button type="button" id="cancel_robbing" class="list-group-item">不掠夺</button>
			<button type="button" id="to_before_action" class="list-group-item">重新选择</button>
	  	</special_actions>
  	</actions0>
  	<!--历史窗口-->
  	<his_window style="display: none;">
  		<his_title>历史记录</his_title><img src="/media/img/latest_button.png" id="his_latest_button">
  		<his_text_window>
	  		<his_text>
	  		</his_text>
  		</his_text_window>
  	</his_window>
	<!--顺序列表-->
	<step_list>
	</step_list>
	<!--回合数-->
	<rounds><img class="rounds" src="/media/img/rounds.png"/><div id="rounds"></div></rounds>
	<!--玩家状态栏，附加文字不可选中，图片不可拖动功能-->
	<div id="players" ondragstart="return false;" onselectstart="return false;" unselectable="on" style="-moz-user-select:none;">
	</div>
	<!--信息窗口-->
	<info_window style="display: none;">测试</info_window>
	
	<!--资源丢弃窗口-->
	<drop_window class="flex_window">
		<!--遮挡用背景-->
		<window_back></window_back>
		<!--标题栏-->
		<window_head>
			<head_text>舍弃资源</head_text>
			<button id="resize" class="coor">o</button>
		</window_head>
		<!--资源选框1-->
		<src_select_window>
			<head_text>需要舍弃的资源<span id="dropped"></span>/<span id="need_drop"></span></head_text>
			<srcs_selected></srcs_selected>
			<srcs_avaliable></srcs_avaliable>
		</src_select_window>
		<src_confirm_window><button class="btn-success" id="action_drop_items">舍弃资源</button></src_confirm_window>
	</drop_window>
	<!--交易窗口-->
	<trade_window class="flex_window">
		<!--标题栏-->
		<window_head>
			<head_text></head_text>			
			<button id="resize" class="coor"></button>
			<button id="close"></button>
			<button id="minimize"></button>
		</window_head>
		<!--资源选框1-->
		<src_select_window class="give">
			<head_text></head_text>
			<srcs_selected></srcs_selected>
			<srcs_avaliable></srcs_avaliable>
		</src_select_window>
		<!--资源选框2-->
		<src_select_window class="get">
			<head_text></head_text>
			<srcs_selected></srcs_selected>
			<srcs_avaliable></srcs_avaliable>
		</src_select_window>
		<trade_state></trade_state>
		<src_confirm_window><button class="btn-success" id="action_trade_items"></button></src_confirm_window>
	</trade_window>
	<!--部分文字预加载-->
	<pre-load-text style="z-index:-1;color:white;">发起交易 关闭窗口 拒绝交易 接受交易 放弃交易</pre-load-text>
</body>
</html>