.plc
{
	position: absolute;
}
/*选择器通用*/
.selector_avaliable
{
	background-color: currentColor;
	opacity:0.7;
    color: green;
}
.selector_avaliable:hover
{
	background-color: currentColor;
	opacity:1;
    color: green;
}
.selector_selected
{
	background-color: currentColor;
	opacity:1;
}
.selector_selected:hover
{
	opacity:0.7;
}
.selector_disabled
{
	background-color: red;
	opacity:0.7;
}
.selector_displaying
{
	background-color: currentColor;
	opacity:1;
}
/*地块选择器*/
plc_selector
{
	position: absolute;
    width: 139px; height: 120px;
    shape-outside: polygon(35px 0, 105px 0px, 139px 60px, 105px 120px, 35px 120px, 0 60px);
    clip-path: polygon(35px 0, 105px 0px, 139px 60px, 105px 120px, 35px 120px, 0 60px);
}
/*边选择器，顺序：左上，上，右上*/
edge_selector
{
	position: absolute;
}
edge_selector.dir_0
{
	
    width: 35px; height: 60px;
    shape-outside: polygon(25px 0, 35px 0, 35px 10px, 10px 60px, 0 60px, 0 50px);
    clip-path: polygon(25px 0, 35px 0, 35px 10px, 10px 60px, 0 60px, 0 50px);
}
edge_selector.dir_1
{
    width: 70px; height: 15px;
    shape-outside: polygon(0 7px, 7px 0, 63px 0, 70px 7px, 63px 15px, 7px 15px);
    clip-path: polygon(0 7px, 7px 0, 63px 0, 70px 7px, 63px 15px, 7px 15px);
}
edge_selector.dir_2
{
    width: 35px; height: 60px;
    shape-outside: polygon(0 0, 10px 0, 35px 50px, 35px 60px, 25px 60px, 0 10px);
    clip-path: polygon(0 0, 10px 0, 35px 50px, 35px 60px, 25px 60px, 0 10px);
    
}
/*点选择器*/
pt_selector
{
	position: absolute;
	width:60px;height:60px;
	shape-outside: circle(60px);
	clip-path:circle(30px);
}
/*道路*/
.road
{
	position: absolute;
}
/*城市*/
.city
{
	position: absolute;
}
/*菜单选项*/
button.active:after
{
	position: absolute;
	content: "";
	width: 17px;
	height: 20px;
	left: calc(100% + 3px);
	top: calc(50% - 10px);
	shape-outside: polygon(0 0, 17px 10px,0 20px);
    clip-path: polygon(0 0, 17px 10px,0 20px);
    background: inherit;
    cursor:default;

}
img.cost:after
{
	position:absolute;
	content:attr(cost);
	width:20px;
	height:20px;
	background:black;
	z-index:5000;
	top:calc(100% + 10px);
}
cost
{
	position:relative;
	top:18px;
	left:10px;
	z-index:4000;
	padding-left:5px;
}
cost.brick:after
{
	content:"";
	display:inline-block;
	position:absolute;
	width:20px;
	height:20px;
	left:-2px;
	bottom:15px;
	background:url(/media/img/icon_1.png);
	background-size:cover;

}
cost.wood:after
{
	content:"";
	display:inline-block;
	position:absolute;
	width:20px;
	height:20px;
	left:-2px;
	bottom:15px;
	background:url(/media/img/icon_2.png);
	background-size:cover;

}
cost.wool:after
{
	content:"";
	display:inline-block;
	position:absolute;
	width:20px;
	height:20px;
	left:-2px;
	bottom:15px;
	background:url(/media/img/icon_3.png);
	background-size:cover;

}
cost.grain:after
{
	content:"";
	display:inline-block;
	position:absolute;
	width:20px;
	height:20px;
	left:-2px;
	bottom:15px;
	background:url(/media/img/icon_4.png);
	background-size:cover;

}
cost.ore:after
{
	content:"";
	display:inline-block;
	position:absolute;
	width:20px;
	height:20px;
	left:-2px;
	bottom:15px;
	background:url(/media/img/icon_5.png);
	background-size:cover;

}
.dev_num{
	padding-left: 10px;
}
/*可以触发js事件的无效*/
button.part_disabled
{
	color: grey;
}
/*骰子*/
dice
{
	position: fixed;
	top: 30px;
	height: 50px;
	width: 50px;	
	background: url(/media/img/dice_num0.png);
}
dice.num1
{
	background: url(/media/img/dice_num1.png);
}
dice.num2
{
	background: url(/media/img/dice_num2.png);
}
dice.num3
{
	background: url(/media/img/dice_num3.png);
}
dice.num4
{
	background: url(/media/img/dice_num4.png);
}
dice.num5
{
	background: url(/media/img/dice_num5.png);
}
dice.num6
{
	background: url(/media/img/dice_num6.png);
}
/*回合显示*/
rounds
{
	height:100px;
	bottom:0;
	position:fixed;
}
img.rounds
{
	position:absolute;
	top:18px;
	left:8px;
}
#rounds
{
	position:absolute;
	top:38px;
	left:8px;
	font-size:20px;
}
/*行动列表*/
steper
{
	width: 40px;
    height: 40px;
    top: 12px;
    background-color: #efefef; /* Can be set to transparent */
    border: 5px solid;
    border-radius: 40px;
    position: absolute;
    border-color: currentColor;
}

steper.ownround
{
	top: 0;
	width: 60px;
    height: 60px;
    border: 7px solid;
}
steper.self:after
{
	content: "";
	/*width: 1px;
	height: 1px;
	border-bottom: 20px solid gray;　　   
    border-top: 20px solid rgb(255,255,255);　　　
    border-right: 20px solid rgb(255,255,255);　　   
    border-left: 20px solid rgb(255,255,255);  */ 
    width: 20px;
	height: 17px;	
	shape-outside: polygon(0 17px, 10px 0, 20px 17px);
    clip-path: polygon(0 17px, 10px 0, 20px 17px);
	background:currentColor;
	color: inherit;
	position: absolute;
	top:calc(100% + 10px);
	left:calc(50% - 10px);
}

/*玩家状态栏*/
player
{
	width:211px;
	height:158px;
	/*用于让名称等信息定位*/
	position:absolute;
	right:0;
	font-size:15px;
}
player.self
{
	width:274px;
	height:205px;
	font-size:20px;
}
player.player_select_avaliable
{
	border-left: 20px solid rgba(0,128,0,0.7);
}
player.player_select_avaliable:hover
{
	border-color: rgba(0,128,0,1);
}
player.player_select_selected
{
	border-color: rgba(0,128,0,1);
}
playername
{
	left:73px;
	top:30px;
	position:absolute;
	
}
playername.self
{
	left:95px;
	top:39px;
	position:absolute;
	
}
/*主参数*/
vp_state
{
	left:125px;
	top:52px;
	cursor: pointer;
	position:absolute;
}
vp_state.self
{
	left:163px;
	top:66px;
}
src_state
{
	left:87px;
	top:71px;
	position:absolute;
}
src_state.self
{
	left:113px;
	top:91px;	
}
dev_state
{
	left:87px;
	top:90px;
	position:absolute;
}
dev_state.self
{
	left:113px;
	top:115px;
}
city0_state
{
	left:87px;
	top:107px;
	position:absolute;
}
city0_state.self
{
	left:113px;
	top:138px;
}
city1_state
{
	left:71px;
	top:126px;
	position:absolute;
}
city1_state.self
{
	left:93px;
	top:162px;
}

longest_road
{
	left:117px;
	top:70px;
	width: 75px;
	height: 20px;
	cursor: pointer;
	position: absolute;
}
longest_road.self
{
	width: 100px;
	height: 27px;
	left:150px;
	top:90px;
}
longest_road.active
{
	background: url(/media/img/longest_road_active.png);
	background-size: cover;
	background-repeat: no-repeat;
}

max_minitory
{
	left:117px;
	top:94px;
	width: 75px;
	height: 20px;
	cursor: pointer;
	position: absolute;
}
max_minitory.self
{
	width: 100px;
	height: 27px;
	left:150px;
	top:123px;
}
max_minitory.active
{
	background: url(/media/img/max_minitory_active.png);
	background-size: cover;
	background-repeat: no-repeat;
}

score_card
{
	left:117px;
	top:118px;
	width: 75px;
	height: 20px;
	cursor: pointer;
	position: absolute;
}
score_card.self
{
	width: 100px;
	height: 27px;
	left:150px;
	top:154px;
}
score_card.active
{
	background: url(/media/img/score_card_active.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/*"自己"的图片放大率*/
img.self
{
	width: 100%;  
    height: 100%;  
}
.backpic
{
	position: absolute;
}
.numpic
{
	position: absolute;
}
.harbor
{
	position: absolute;
}
.hb_icon
{
	position: absolute;
}
.hb_num
{
	position: absolute;
}
#players
{
	width:215px;
	position: fixed;
	right:0;
	top:0;
	z-index:4000;
	-webkit-user-select:none;

     -moz-user-select:none;

     -ms-user-select:none;

     user-select:none;
}
map
{
	position: absolute;
	left: 300px;
	top:0;
}
source_list
{
	position:fixed;
	width:500px;
	height:25px;
	top:0;
	z-index:4000;
	background:white;
}
actions0
{
	position:fixed;
	left:10px;
	top:100px;
	width: 100px;
	z-index:4000;
}
actions1
{
	position:absolute;
	left:123px;
	top:0;
	width: 180px;
}
special_actions
{
	position:absolute;
	left:123px;
	top:0;
	width: 180px;
}
his_window
{
	position:fixed;
	top:400px;
	width:200px;
	height:150px;
	transition:top 1s;
	background:white;
	border:2px solid black;
	font-size:10px;
	z-index:4000;
}
his_window.nothing
{
	top:100px;
	height:450px;
}
his_title
{
	position:absolute;
	height:15px;
	top:0;
	color:white;
	z-index:100;
	background:blue;
}
his_text_window
{
	position:absolute;
	width:calc(100% - 1px);
	height:calc(100% - 16px);
	overflow-y:scroll;
	top:15px;	
}
img#his_latest_button{
	position:absolute;
	cursor:pointer;
	height:13px;
	width:13px;
	right:0;
	top:0;
}
his_text
{
	position:absolute;	
	background:white;
}
his_text.latest
{
	bottom:0;
}
step_list
{
	width:300px;
	position: fixed;
	left:55px;
	bottom:calc(0% + 80px);
	z-index:4000;
}
info_window{
	position: absolute;
	z-index:5000;
	background: white;
	font-size:10px;
	-webkit-user-select:none;

     -moz-user-select:none;

     -ms-user-select:none;

     user-select:none;
}
confirm_window
{
	position:fixed;
	width:100%;
	height:100%;
	/*最高的优先级*/
	z-index:6000;
}
confirm_content
{
	position:absolute;
	height:150px;
	width:200px;
	top:calc(30% - 75px);
	left:calc(50% - 100px);
	background:red;
}
confirm_action{
	position:absolute;
	bottom:0;
	width:130px;
	left:45px;
}
wait_window
{
	position:fixed;
	height:100%;
	width:100%;
	/*与确认窗口相同的优先级*/
	z-index:6000;
}
wait_info_back
{
	position:absolute;
	height:44px;
	width:199px;
	top:10%;
	left:calc(50% - 100px);
	background:url(/media/img/window_wait_back.png);
	display: flex;
    justify-content: center;
    align-items: center;
}
wait_info{
	
	font-size:20px;
	color:black;
}
robber img:hover
{
	opacity:0.5;
}

/*交易/舍弃栏*/
.flex_window
{
	border: 1px solid #CCCCCC;  
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 25px #ccc;
    -moz-box-shadow: 10px 10px 25px #ccc;
    box-shadow: 10px 10px 25px #ccc;
    background: white;
}
drop_window
{
	position: absolute;
	width: 160px;
	height: 500px;
	-webkit-user-select:none;

     -moz-user-select:none;

     -ms-user-select:none;

     user-select:none;
     z-index: 4200;
}
trade_window
{
	display: none;
	position: absolute;
	width: 320px;
	height: 500px;
}
window_head{
	position: absolute;
	height: 30px;
	width: 100%;
	top: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #1E90FF;
}
window_head head_text
{
	position: absolute;
	font-size:15px;
	top: 3px;
	left: 10px;
	color: white;
}
#move,#minimize,#close,#resize
{
	height: 10px;
	margin-top: 5px; 
	padding-top: 10px;
	float: right;
}
#resize
{

	margin-right:5px; 
}
src_select_window
{
	position: absolute;
	top: 30px;
	width: 100%;
	height: calc(100% - 100px);
}
src_select_window.give{
	width: 50%;
	left: 0;
}
src_select_window.get{
	width: 50%;
	left: 50%;
}
src_select_window head_text
{
	width: 100%;
	position: absolute;
	left: 0;
	height: 30px;
	font-size: 15px;
}
srcs_selected
{
	width: 100%;
	position: absolute;
	height: 40%;
	top: 30px;
}
srcs_avaliable
{
	width: 100%;
	position: absolute;
	height: calc(60% - 30px);
	top: calc(40% + 30px);
}
src_confirm_window{
	position:absolute;
	bottom:0;
	height:70px;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
src_item{
	display: inline-block;
	width: 45px;
	height: 45px;
	border: 3px solid rgba(0,160,0,0.5);
	border-radius: 5px;
	margin-left: 3px;
}
src_item:after
{
	content: attr(num);
	position: absolute;
	bottom: 0;
	right: 0;
}
src_item.brick{
	background: url(/media/img/harbor_icon_1.png);
	background-size: cover;
}
src_item.wood{
	background: url(/media/img/harbor_icon_2.png);
	background-size: cover;
}
src_item.wool{
	background: url(/media/img/harbor_icon_3.png);
	background-size: cover;
}
src_item.grain{
	background: url(/media/img/harbor_icon_4.png);
	background-size: cover;
}
src_item.ore{
	background: url(/media/img/harbor_icon_5.png);
	background-size: cover;
}
pre-load-text{
	-webkit-user-select:none;

     -moz-user-select:none;

     -ms-user-select:none;

     user-select:none;
}
